/**
 * screen.less
 * Default styles.
 */

ul.equationType {
	list-style-type: none;
}
ul.equationType label {
	display: inline-block;
}
ul.equationType input {
	vertical-align: top;
	margin-right: 1em;
}

input.numeric {
	width: 20px;
}


/**
 * Custom MathQuill
 */
.mathquill-editable {
	padding: 5px !important;
	border-radius: 5px;
	border: 1px solid #356AA0 !important;
	
	width: 150px;
}