<h1>Diamond Collector</h1>
<p>Enter up to three graph equations to hit as many of the marked points
as possible.</p>

<section ng-controller="MainCtrl">
  <fieldset>
    <legend>Add new plot</legend>
    <h2>Plot type:</h2>
    <ul>
      <li><label>Cartesian:</label><input type="radio" value="cartesian" name="graph-type" ng-model="graphType" /></li>
      <li><label>Circle:</label><input type="radio" value="circle" name="graph-type" ng-model="graphType" /></li>
    </ul>

    <p ng-show="inputCartesian">
      Cartesian:<br />
      y = <input type="text" ng-model="cartesian.fx" />
    </p>
    <p ng-show="inputCircle">
      Circle:<br />
      Centre: x = <input type="text" ng-model="circle.cx" />
       y = <input type="text" ng-model="circle.cy" /><br />
      Edge: x = <input type="text" ng-model="circle.rx" />
       y = <input type="text" ng-model="circle.ry" />
    </p>

    <button type="button" ng-click="newPlot()" ng-disabled="finished">Add</button>
  </fieldset>

  <h2>Plots</h2>
  <p>The following plots have been added to the graph:</p>
  <ul>
    <li ng-repeat="plot in plots">
      <ng-switch on="plot.type">
        <span ng-switch-when="cartesian">Cartesian: y = {{plot.fx}}</span>
        <span ng-switch-when="circle">Circle: centre ({{plot.cx}}, {{plot.cy}})</span>
      </ng-switch>
    </li>
  </ul>
  <p><button type="button" ng-click="resetPlots()">Reset</button></p>

  <div jsx-graph="plots"></div>
</section>