<h1>Diamond Collector</h1>
<p>Enter up to three graph equations to hit as many of the marked points
as possible.</p>

<section ng-controller="MainCtrl">
  <fieldset>
    <legend>Add new plot</legend>
    <h2>Plot type:</h2>
    <ul class="equationType">
      <li><input type="radio" value="explicit" name="graph-type" ng-model="graphType" /><label>Explicit, y = f(x)</label></li>
      <li><input type="radio" value="implicit" name="graph-type" ng-model="graphType" /><label>Implicit, ax<sup>2</sup> + bxy + cy<sup>2</sup> + dx + ey + f = 0</label></li>
    </ul>

    <p ng-show="inputExplicit">
      y = <input type="text" ng-model="explicit.fx" />
    </p>
    <p ng-show="inputImplicit">
      Centre: x = <input type="text" ng-model="implicit.cx" />
       y = <input type="text" ng-model="implicit.cy" /><br />
      Edge: x = <input type="text" ng-model="implicit.rx" />
       y = <input type="text" ng-model="implicit.ry" />
    </p>

    <button type="button" ng-click="newPlot()" ng-disabled="finished">Add</button>
  </fieldset>

  <h2>Plots</h2>
  <p>The following plots have been added to the graph:</p>
  <ul>
    <li ng-repeat="plot in plots">
      <ng-switch on="plot.type">
        <span ng-switch-when="explicit">Explicit: y = {{plot.fx}}</span>
        <span ng-switch-when="implicit">Implicit: centre ({{plot.cx}}, {{plot.cy}})</span>
      </ng-switch>
    </li>
  </ul>
  <p><button type="button" ng-click="resetPlots()">Reset</button></p>

  <div jsx-graph="plots"></div>
</section>